include CITATION.cff environment.yml LICENSE CHANGELOG.md REVIEW.md
recursive-include configs *.yaml
recursive-include docs *.md
recursive-include data *.md *.csv
recursive-include tests *.py
recursive-include tools *.py *.sh
